<!-- Страница редактирования поста -->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Редактировать: {{ post.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}" />
  </head>
  <body>
    <h1>Редактировать пост:{{post.title}}</h1>
    <form method="POST">
      {% csrf_token %} {{ form.as_p}}
      <button type="submit" class="create-btn2">Сохранить изменение</button>
    </form>
    <a href="{% url 'post_detail' post.pk %}">Отмена</a> |
    <a href="{% url 'post_delete' post.pk %}">Удалить пост</a>
    <script src="{% static 'blog/script.js' %}"></script>
  </body>
</html>
